.sidebarChat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.sidebar-chat-image {
  --dimension: 40px;
  height: var(--dimension);
  width: var(--dimension);
  border-radius: 50%;
  flex: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarChat:nth-child(3n) .sidebar-chat-image {
  background-color: #00c3ff;
}
.sidebarChat:nth-child(3n + 1) .sidebar-chat-image {
  background-color: #ff0000;
  color: #fff;
}
.sidebarChat:nth-child(3n + 2) .sidebar-chat-image {
  background-color: #9900ff;
  color: #fff;
}

.ellipsis {
  display: inline-block;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis:not(:first-child) {
  margin-left: 5px;
}

.sidebarChat:hover {
  background-color: #66696d;
  color: white;
}

.sidebarChat_info {
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.sidebarChat_info > small {
  position: absolute;
  top: 5px;
  right: 0;
}
